textarea {
    min-height: 350px;
}

strong {
    font-weight: bolder;
}

/* On Compose view */
#alert-compose {
    font-size: larger;
    font-weight: bold;
}

/* On all mailbox views */
.email-preview {
    padding: 5px 5px;
    margin-bottom: 2px;
    border: solid 1px black;
}

.sender {
    font-weight: bold;
    margin-right: 1em;
}

.subject {
    color: black;
    overflow: hidden;
    width: auto;
}

.timestamp {
    float: right;
    color: grey;
}
